.footer {
  width: 100%;
  padding: 15px 0;
  background-color: #ffdd7f;
  text-align: center;
  border-top: 1px solid rgba(0,0,0,0.1);

  position: fixed;   /* 固定 */
  bottom: 0;         /* 画面下 */
  left: 0;
  z-index: 1000;

  .footer-text {
    font-size: 14px;
    color: #333;
  }
}
